---
import About from "@Components/about.astro";
import Footer from "@Components/footer.astro";
import Header from "@Components/header.astro";
import Hero from "@Components/hero.astro";
import Membership from "@Components/membership.astro";
import Service from "@Components/service.astro";
import Layout from "@Layouts/Layout.astro";
import Form from "@Components/Form.astro";
---

<Layout title="BODY FITNESS.">
	<Header />
	<main>
		<Hero />
		<Membership />
		<Service />
		<About />
		<Form />
		<Footer />
	</main>
</Layout>
