---
import About from '@Components/about.astro';
import Footer from '@Components/footer.astro';
import Header from '@Components/header.astro';
import Hero from '@Components/hero.astro';
import Membership from '@Components/membership.astro';
import Service from '@Components/service.astro';
import Layout from '@Layouts/Layout.astro';

---

<Layout title="BODY FITNESS.">
	<Header></Header>
	<main>
		<Hero></Hero>
		<Membership></Membership>
		<Service></Service>
		<About></About>
		<Footer></Footer>
	</main>
</Layout>