---
import About from "@Components/about.astro";
import Footer from "@Components/footer.astro";
import Header from "@Components/header.astro";
import Hero from "@Components/hero.astro";
import Membership from "@Components/membership.astro";
import Service from "@Components/service.astro";
import Layout from "@Layouts/Layout.astro";
import Form from "@Components/Form.astro";
---

<Layout title="BODY FITNESS.">
<meta name="description" content="Página principal de un gimnasio, junto a los servicios que ofrece de acuerdo a el tipo de membresía." />
<meta name="keywords" content="Gimnasio, Coatzacoalcos, Membresía" />
<meta name="author" content="BodyFitness" />
<meta name="robots" content="index, follow" /> <!-- Permite indexar la página y seguir enlaces -->
	<Header />
	<main>
		<Hero />
		<Membership />
		<Service />
		<About />
		<Form />
		<Footer />
	</main>
</Layout>
