---
export interface Props {
    title: string;
    price: string;
    description: string;
}
const { title, price, description } = Astro.props;
---

<div class="bg-gradient-radial from-[#1F1F1F] to-[#0D0D0D] text-white rounded-xl p-6 shadow-lg font-sans charge">
    <h4 class="text-xl lg:text-2xl font-bold text-red-600 mb-2">
        {title}
    </h4>
    <p class="text-4xl lg:text-5xl font-bold mb-4">{price}</p>
    <p class="text-sm lg:text-base text-gray-400">{description}</p>
</div>

<style>
    @keyframes charge {
        from {
            scale: 0.5;
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            scale: 1;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .charge {
        animation: charge linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
    }
    
  </style>
