<header class="fixed top-0 left-0 w-full z-50 bg-black bg-opacity-80 border-b border-gray-700 text-white">
    <nav class="flex flex-wrap justify-between items-center px-8 py-4 max-w-7xl mx-auto">
      <!-- Logo -->
      <a href="#home" class="text-3xl font-bold flex items-center">
        <svg
          width="52"
          height="41"
          viewBox="0 0 52 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2"
        >
          <path
            d="M49.0668 29.1179L49.1949 29.1859L49.2711 29.0624L50.32 27.3613L50.4048 27.2238L50.2637 27.145C46.5599 25.0767 42.2192 23.1861 38.1714 21.9404C34.1308 20.6968 30.3562 20.0876 27.7968 20.6077C25.2257 21.1301 22.7453 23.0452 20.5019 25.947C18.2564 28.8516 16.2353 32.7615 14.5867 37.3077L14.5435 37.4271L14.6521 37.4929L16.3684 38.5324L16.5212 38.6249L16.5911 38.4606C17.5414 36.2236 19.2842 32.7774 21.4527 29.7967C22.537 28.3065 23.7245 26.937 24.969 25.8935C26.2137 24.85 27.5055 24.1408 28.8002 23.9528C35.019 23.3122 41.0417 24.8582 49.0668 29.1179Z"
            fill="#FF0400"
            stroke="#FF0000"
            stroke-width="0.309524"
          ></path>
          <path
            d="M3.10835 12.0228L2.98006 11.9543L2.90374 12.0781L1.85484 13.7792L1.77002 13.9168L1.91112 13.9955C5.61493 16.0638 9.95561 17.9544 14.0034 19.2001C18.044 20.4437 21.8186 21.053 24.378 20.5329C26.9491 20.0104 29.4295 18.0953 31.6729 15.1935C33.9184 12.2889 35.9395 8.37903 37.5881 3.83278L37.6313 3.71342L37.5227 3.64764L35.8064 2.6081L35.6536 2.51557L35.5837 2.67996C34.6334 4.91692 32.8906 8.36316 30.7221 11.3438C29.6378 12.834 28.4503 14.2035 27.2057 15.247C25.9611 16.2906 24.6693 16.9998 23.3746 17.1877C17.1556 17.8283 11.117 16.2979 3.10835 12.0228Z"
            fill="#FF0400"
            stroke="#FF0000"
            stroke-width="0.309524"
          ></path>
          <path
            d="M20.8829 14.4563C24.0478 14.4563 26.6159 11.9132 26.6159 8.7731C26.6159 5.63303 24.0478 3.08987 20.8829 3.08987C17.7179 3.08987 15.1499 5.63303 15.1499 8.7731C15.1499 11.9132 17.7179 14.4563 20.8829 14.4563Z"
            fill="#FF0400"
            stroke="#FF0000"
            stroke-width="0.309524"
          ></path>
        </svg>
        <span class="text-red-600">BODY</span> FITNESS
      </a>
  
      <!-- Menú -->
      <div class="hidden md:flex space-x-8 text-lg">
        <a href="#membership" class="hover:text-red-600">MEMBRESÍAS</a>
        <a href="#about" class="hover:text-red-600">BENEFICIOS</a>
        <a href="#services" class="hover:text-red-600">CONTACTO</a>
        <a href="#contact" class="hover:text-red-600">UBICACIÓN</a>
      </div>
  
      <!-- Menú móvil -->
      <button class="block md:hidden text-xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-8 h-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </nav>
  </header>
  