<section
  class="relative h-screen font-sans bg-cover bg-center md:bg-[center_top] lg:bg-top"
  style="background-image: url('/assets/herobg.png');"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black to-transparent bg-opacity-70"
  ></div>

  <div class="relative flex items-center h-full px-6 sm:px-10 lg:px-20">
    <div class="text-left text-white space-y-6 max-w-2xl">
      <h1
        class="text-5xl sm:text-6xl lg:text-7xl font-bold leading-tight reveal-from-left"
      >
        CONSTRUYE <span class="text-red-600">TU IMAGEN</span>
      </h1>
      <p
        class="text-base sm:text-lg lg:text-xl text-gray-300 reveal-from-bottom"
      >
        En Body Fitness, te ayudamos a alcanzar tus metas con entrenamientos
        personalizados y el apoyo de entrenadores expertos. Únete y transforma
        tu vida en un ambiente motivador y profesional.
      </p>
    </div>
  </div>
</section>

  
