---
---
<section class="relative bg-cover bg-center h-screen font-sans" style="background-image: url('/assets/herobg.png');">
    <div class="absolute inset-0 bg-black bg-opacity-70"></div>
    <div class="relative flex flex-col justify-center items-center h-full text-center px-6">
      <!-- Contenido -->
      <h1 class="text-6xl text-white">
        CONSTRUYE <span class="text-red-600">TU IMAGEN</span>
      </h1>
      <p class="text-lg text-gray-300 mt-6 max-w-2xl">
        En Body Fitness, te ayudamos a alcanzar tus metas con entrenamientos personalizados y el apoyo de entrenadores expertos. Únete y transforma tu vida en un ambiente motivador y profesional.
      </p>
    </div>
  </section>
  