---

---

<section class="h-dvh">
    <h1 class="text-white text-5xl">
        CONSTRUYE
        <span class="text-red-600">TU IMAGEN</span>
    </h1>
    <p class="text-white w-1/4">En Body Fitness, te ayudamos a alcanzar tus metas con entrenamientos personalizados y el apoyo de entrenadores expertos. Únete y transforma tu vida en un ambiente motivador y profesional.</p>
</section>
<img src="../assets/herobg.png" alt="hero background" />
<img src="../assets/heroimg.png" alt="hero guy" />
