---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #121212;
}
.header {
  background: #000;
  padding: 1rem;
}
.red {
  color: red;
}

.titulo h1{
  font-size: 20px;
}

.titulo ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 1550px;
}

.titulo a {
  text-decoration: none;
  color: #fff;
}

.home {
  text-align:left;
  padding: 2rem;
}

.home h1{
  font-size: 50px;
}

.pricing {
  padding: 2rem;
  text-align: center;
}

.pricing h1{
  font-size: 30px;
}

.pricing h2{
  font-size: 25px;
}

.plans {
  display: flex;
  justify-content: space-around;
}

.benefits {
  background: transparent;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid red;
  text-align: center;
}

.benefits h3{
  color: red;
}

.plan {
  background: #222;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}
.footer {
  text-align: center;
  padding: 1rem;
  background: #000;
}

</style>
